
:root{
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --thirdly-text-color: #FFFFFF;
}
body{
   font-family:"Roboto",sans-serif;
   color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
color: #212121;

}

.logo span{
color:var(--accent-color) ;
}

.nav-link{
    
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color:var(--primary-text-color);

}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
